<h1>New person</h1>

<%= form_with model: @person do |form| %>
  <%= form.label :name, class: 'form-label' %>
  <%= form.text_field :name, class: 'form-control' %>

  <%= form.label :age, class: 'form-label' %>
  <%= form.number_field :age, class: 'form-control' %>

  <%= form.submit 'Create', class: 'btn btn-primary' %>
<% end %>
